@import "../fonts/Montserrat/Montserrat.css";
@import "../fonts/GreatVibes/stylesheet.css";
@import "../fonts/icomoon/style.css";
@import "./animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
